@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

header {
  padding: 6.7vw;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
}

header .logo {
  font-family: "Pacifico", cursive;
  font-size: 8vw;
  color: #000;
}

header ul {
  display: none;
}
